*
{
    margin: 0;
    padding-top: 0;
}

body
{
    background-color: #3d3d3d;
    color: white;
}

#BackgroundPhoto
{
    background: url(ColoradoWallpaper.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    height: 50vh;
    width: 110vw;
    overflow: hidden;
}

#ProfilePicture
{
    border-radius: 50%;
    border: 8px solid #3d3d3d;
    transform: translateY(-50%);
}

.Name
{
    text-align: center;
    padding-top: 15px;
    transform: translateY(-150%);
}

.description
{
    text-align: center;
    padding-top: 15px;
    transform: translateY(-150%);
}

.skills
{
    text-align: center;
    padding-top: 190px;
    margin-bottom: 30px;
}

.card 
{
    width: 300px;
    height: 200px;
    border-radius: 20px;
    padding: 5px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.center
{
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.card:hover 
{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.ContactCard
{
    width: 600px;
    height: 400px;
    border-radius: 20px;
    padding: 5px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}
.ContactCardCenter
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ContactCard:hover
{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#name
{
    display: flex;
    background-color: #3d3d3d;
    color: white;
    font-size: 18px;
}
#email
{
    display: flex;
    background-color: #3d3d3d;
    color: white;
    font-size: 18px;
}
#subject
{
    display: flex;
    background-color: #3d3d3d;
    color: white;
    font-size: 18px;
}
#message
{
    display: flex;
    background-color: #3d3d3d;
    color: white;
    font-size: 18px;
}
.button
{
    background-color: #3d3d3d;
    color: white;
    font-size: 18px;
    border-bottom: none;
    border-left: none;
    border-right: none;
}
.button:hover
{
    background-color: #fff;
    color: black
}

@media (max-width: 500px) {
    .center{
        display:inline-block;
        height:100%;
        vertical-align:middle;
    }
    .card{
        width: 50%;
        margin: auto;
        height: 200px;
        margin-bottom: 30px;
    }
    .ContactCard{
        width: 325px;
    }
    .ContactCardCenter{
        display:flex;
        justify-content: center;
        align-items: center;
        margin-left: 5%;
    }
}